@font-face 
{
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src : url(font.woff);
}

#btech,#mtech,#mca
{
 position : relative;
 top : 80px;
 left : 50px;
 width : 500px;
 font-size : 25px;
 font-family: 'Alegreya Sans', sans-serif;
 float : left;
 padding-bottom : 100px;
 }
 
 td
 {
  padding : 5px;
 }
 td>a
 {
  text-decoration : none;
  color : black;
 }
 a:hover
 {
  font-weight : bold;
 }