#wowslider-container1 { 
	position: absolute;
	left :6%;
	top : 27%;
	height:60%;
	width : 80%;
	z-index:90;
}

#wowslider-container1 .ws_images ul{
	position:relative;
	width: 100%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	overflow: hidden;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1  .wsl{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}


#wowslider-container1  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container1 .ws_bullets a { 
	width:40px;
	height:8px;
	background: none;
	border: 1px solid #FFFFFF;
	float: left; 
	text-indent: -9999px; 
	position:relative;
	margin-left:8px;
	margin-top: 5px;
	color:transparent;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
	outline:  1px solid #FFFFFF;
}

#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	display:block;
	z-index:60;
	height: 40px;
	width: 40px;
	background: none;
	border-style: solid;
	border-color: #FFFFFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#wowslider-container1 a.ws_next{
	border-width: 1px 1px 0 0;
	top:50px;
	right:50px;
}
#wowslider-container1 a.ws_prev {
	border-width: 0 0 1px 1px;
	right:50px;
	bottom:50px;
}
#wowslider-container1 a.ws_next:hover{
	border-width: 2px 2px 0 0;
	margin: -5px -5px 0 0;
}
#wowslider-container1 a.ws_prev:hover {
	border-width: 0 0 2px 2px;
	margin: 0 5px -5px 0;
}

/*playpause*/
#wowslider-container1 .ws_playpause {
	display:none;
    position: absolute;
    top: 50%;
	margin-top:-20px;
    right: 60px;
    z-index: 59;
}
#wowslider-container1:hover .ws_playpause {
	display:block;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
#wowslider-container1 .ws_pause {
    width: 10px;
    height: 40px;
	border-style:solid;
	border-width:0 1px;
	border-color:white;	
}
#wowslider-container1 .ws_pause:hover {
	width: 15px;
    height: 50px;
	border-width: 0 2px;
	margin-right:-5px;
}
#wowslider-container1 .ws_play {
    width: 30px;
    height: 30px;
    border-style:solid;
	border-width:1px 1px 0 0;
	border-color:white;
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
		 -o-transform:rotate(45deg);
			transform:rotate(45deg);
}
#wowslider-container1 .ws_play:hover {
	border-width: 2px 2px 0 0;
	margin-right:-5px;
}
/* top right */
#wowslider-container1  .ws_bullets {
	top:0;
    right: 0;
}

#wowslider-container1 .ws-title{
	position: absolute;
	bottom:50px;
	left: 50px;
	margin-right:100px;
	z-index: 50;
	background: none;
    color: #FFFFFF;
	padding: 10px;
	font-size: 18px;
	line-height: 20px;
	font-family: 'Open Sans',Arial,sans-serif;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;
}
#wowslider-container1 .ws-title div{
    margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	text-transform: none;
}
#wowslider-container1  .ws_thumbs { 
	font-size: 0px; 
	position:absolute;
	overflow:auto;
	z-index:70;
}
#wowslider-container1 .ws_thumbs a { 
	position:relative;
	text-indent: -4000px; 
	color:transparent;
	opacity:0.85;
}
#wowslider-container1 .ws_thumbs a:hover{
	opacity:1;
}
#wowslider-container1 .ws_thumbs a:hover img{
	visibility:visible;
}
#wowslider-container1  .ws_thumbs { 
    right: -113px;
    top: 0;
	width:108px;
	height:100%;
}
#wowslider-container1  .ws_thumbs div{
	position:relative;
	width:100%;
}
#wowslider-container1 .ws_thumbs .ws_selthumb img{
	outline:  1px solid #FFFFFF;
	opacity:1;
}

#wowslider-container1 .ws_thumbs  a img{
	margin:3px;
	text-indent:0;
    border: 1px solid #FFFFFF;
	max-width:none;
	opacity:0.6;
}

#wowslider-container1 .ws_images ul{
	animation: wsBasic 40s infinite;
	-moz-animation: wsBasic 40s infinite;
	-webkit-animation: wsBasic 40s infinite;
}
@keyframes wsBasic{0%{left:-0%} 5%{left:-0%} 10%{left:-100%} 15%{left:-100%} 20%{left:-200%} 25%{left:-200%} 30%{left:-300%} 35%{left:-300%} 40%{left:-400%} 45%{left:-400%} 50%{left:-500%} 55%{left:-500%} 60%{left:-600%} 65%{left:-600%} 70%{left:-700%} 75%{left:-700%} 80%{left:-800%} 85%{left:-800%} 90%{left:-900%} 95%{left:-900%} }
@-moz-keyframes wsBasic{0%{left:-0%} 5%{left:-0%} 10%{left:-100%} 15%{left:-100%} 20%{left:-200%} 25%{left:-200%} 30%{left:-300%} 35%{left:-300%} 40%{left:-400%} 45%{left:-400%} 50%{left:-500%} 55%{left:-500%} 60%{left:-600%} 65%{left:-600%} 70%{left:-700%} 75%{left:-700%} 80%{left:-800%} 85%{left:-800%} 90%{left:-900%} 95%{left:-900%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 5%{left:-0%} 10%{left:-100%} 15%{left:-100%} 20%{left:-200%} 25%{left:-200%} 30%{left:-300%} 35%{left:-300%} 40%{left:-400%} 45%{left:-400%} 50%{left:-500%} 55%{left:-500%} 60%{left:-600%} 65%{left:-600%} 70%{left:-700%} 75%{left:-700%} 80%{left:-800%} 85%{left:-800%} 90%{left:-900%} 95%{left:-900%} }

#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:15px;
	left:-50px;
	visibility:hidden;
	position:absolute;
    border: 1px solid #FFFFFF;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:100px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:100px;
	background-color:#FFFFFF;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	top:20px;
	margin-left:20px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 1px solid #FFFFFF;
}

#coverup
{
 font-size : 100%;
 font-family: 'Alegreya Sans', sans-serif;
 color : white;
 float:left;
 position : fixed;
 top : 83%;
 left : 77%;
 height : 3%;
 width : 8.3%;
 z-index : 10000;
 padding : 0.5%;
 background-color : black;
}